<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logger_path" value=".\Logfiles\" />
    <add key="MinutesToRun" value="60" />
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubConnectionString" value="Endpoint=sb://steramingevents.servicebus.windows.net/;SharedAccessKeyName=asa-policy-manage-demo;SharedAccessKey=1BKGIJQTZdh/4EhvIWqvn4CszK+YHzj5+VD6e1m+N3M=" />	
    <add key="EventHubName" value="sensorevents" />
    <add key="EventDelayMs" value="1" />
    <add key="EventsPerMessage" value="980" />
    <add key="EventType" value="Sensor" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>